{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>About</h1>

    <p>CS50 Flask Blog is a blogging application designed for private use. Built with Flask and stylised with Bootstrap, CS50 Flask Blog allows users to write and store posts on a local machine.</p>

    <h2>Features</h2>
    <ul>
        <li>Create user account with password</li>
        <li>Write, edit and delete blog posts</li>
        <li>Rich text editor for writing and editing blog posts</li>
        <li>Change username and password</li>
    </ul>

    <p>CS50 Flask Blog was created by Mainak Sil.</p>
{% endblock %}
