{% extends "layout.html" %}

{% block title %}
    Create New Post
{% endblock %}

{% block main %}
    <h1>Create New Post</h1>
    <form action="/create" method="post">
        <div class="mb-3">
            <label for="title-input" class="form-label">Post Title:</label>
            <input autocomplete="off" class="form-control" name="post-title" placeholder="Enter post title" type="text" id="title-input" required>
        </div>
        <div class="mb-3">
            <label for="content-input" class="form-label">Post Content:</label>
            {{ ckeditor.create() }}
        </div>
        <button class="btn btn-primary mx-auto d-block" type="submit">Publish Post</button>
    </form>
{% endblock %}
